fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
alembic
pydantic
pydantic-settings
google-auth
requests
PyJWT
supabase
pypdf
redis
httpx
email-validator
reportlab
bcrypt
google-generativeai
prometheus_client
