fastapi
uvicorn[standard]
python-multipart
celery
redis
google-generativeai
pypdf>=4
zemberek-python
httpx
pydantic-settings
python-dotenv
gTTS
ollama
nltk
requests
zeyrek
pymupdf
pillow
chromadb>=0.4.22
prometheus_client
